{% extends 'foundation.html' %}
{% block title %}產品: {{ p.title }} {% endblock title %}
{% block main %}
<style>
.image_cell {
  width: 170px;
  height: 170px;
  display: inline-block;
}

.image_cell input {
  float: left;
}
.image_cell label {
  padding-left: 3px;
  font-size: small;
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-right-buttons {
  padding-right: 20px;
}
</style>

<h3>產品: {{ p.title }}</h3>
<hr />
<div class="container">
  <h4>基本資料</h4>
  {% include 'products/_vendor_entry.html' with product=p %}
</div>
<hr />
<div class="container">
  <h4>
    <div class="pull-right pull-right-buttons">
      <a href="{% url 'edit_product_meta' p.id %}" class="btn btn-sm btn-primary">編輯</a>
    </div>
    拍賣場資料
  </h4>
  {% if p.productmeta %}
    {% include 'products/_meta_entry.html' with meta=p.productmeta %}
  {% else %}
    <div class="container">沒有資料</div>
  {% endif %}
</div>
<hr />
<div class="container">
  <h4>
    <div class="pull-right pull-right-buttons">
      <a href="{% url 'edit_product_images' p.id %}" class="btn btn-sm btn-primary">編輯</a>
    </div>
    圖片資料
  </h4>
  <div class="row">
    {% for image in p.productimage_set.all %}
    <div class="container image_cell">
      <a href="{% url 'product_image' image.id %}" target="_blank"><img src="{% url 'product_image' image.id %}" class="img-thumbnail" /></a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}