{% extends 'foundation.html' %}
{% block title %}搜尋產品{% endblock title %}
{% block main %}
<style>
input#keyword {
  min-width: 60%;
}
</style>
<h3>網路產品搜尋</h3>
<hr />
<div class="container body-content">
  <div class="row form-inline" role="form">
    <div class="col-sm-6 form-group">
      <input type="text" class="form-control" id="keyword" name="keyword" placeholder="請輸入產品關鍵字" value="" />
      <button class="btn btn-primary" data-role="search-btn">搜尋</button>
    </div>
  </div>
  <hr />
  <table class="table table-condensed" style="font-size: small">
    <thead>
      <tr>
        <th style="width: 120px">來源</th>
        <th style="width: 120px">ID</th>
        <th>品名</th>
        <th style="width: 50px"></th>
      </tr>
    </thead>
    <tbody class="search_result"></tbody>
  </table>
</div>

<script id='tmpl-query-row' type="text/jquery-tmpl">
  <tr>
    <td>${item.vendor}</td><td>${item.item_id}</td><td>
      <div>
      {% templatetag openvariable %}if item.url}}
        <a href="${item.url}" target="_blank">${item.title}</a>
      {% templatetag openvariable %}else}}
        ${item.title}
      {% templatetag openvariable %}/if}}
      </div>
      <div>
        條碼: ${item.ean} / 價格: ${item.currency} ${item.price} / 發售日: ${item.release_date} / 尺寸: ${item.size} / 重量: ${item.weight}
      </div>
    </td>
    <td>
      <form action="{% url 'products' %}" method="post">{% csrf_token %}
        {% templatetag openvariable %}each(prop, val) item}}
        <input type="hidden" name="${prop}" value="${val}" />
        {% templatetag openvariable %}/each}}
        <button class="btn btn-sm btn-default">加入</button>
      </form>
    </td>
  </tr>
</script>

<script type="text/javascript">
$(function() {
  var aws_xhr_job = undefined;
  var rakuten_xhr_job = undefined;

  var query_url = '{% url 'query_vendor' 'json' %}';
  
  var search_cache = {};
  
  var $keyword = $("input#keyword");
  var $submit = $("[data-role=search-btn]");
  var $searcher = $(".search_result");
  var $query_tmpl = $("#tmpl-query-row");
  
  $keyword.bind("keypress", function(e) {
    if(e.keyCode==13) {
      $submit.trigger("search-submit");
    }
  });
  
  $submit.bind("search-submit", function() {
    var val = $keyword.val();
    if(val) {
      if(val.length < 3) {
        alert("關鍵字太短");
      } else {
        $searcher.trigger('update', [val]);
      }
    } else {
      alert("請輸入關鍵字");
    }
  }).bind("click", function() {
    $submit.trigger("search-submit");
  });
  
  $searcher.bind("update", function(e, keyword) {
    if(aws_xhr_job) aws_xhr_job.abort();
    if(rakuten_xhr_job) rakuten_xhr_job.abort();

    $searcher.children().remove();
    
    aws_xhr_job = $.ajax(query_url, {
      data: {vendor_name: 'amazon_jp', keyword: keyword},
      dataType: 'json',
      type: 'GET',
      success: function(data) {
        aws_xhr_job = undefined;
        
        if(data.status) {
          for(var i=0;i<data.results.length;i++) {
            var row = data.results[i];
            row['keyword'] = keyword
            var $row = $query_tmpl.tmpl({item: row});
            $row.appendTo($searcher);
          }
        }
      }
    });

    rakuten_xhr_job = $.ajax(query_url, {
      data: {vendor_name: 'rakuten', keyword: keyword},
      dataType: 'json',
      type: 'GET',
      success: function(data) {
        rakuten_xhr_job = undefined;
        
        if(data.status) {
          for(var i=0;i<data.results.length;i++) {
            var row = data.results[i];
            row['keyword'] = keyword
            var $row = $query_tmpl.tmpl({item: row});
            $row.appendTo($searcher);
          }
        }
      }
    });


  });
});
</script>
{% endblock %}