<div class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">品名</label>
    <div class="col-sm-10 form-control-static">{{ product.title }}</div>
  </div>
  {% if product.vendor %}
  <div class="form-group">
    <label class="col-sm-2 control-label">資料來源</label>
    <div class="col-sm-10 form-control-static">
      {% if product.url %}<a href="{{ product.url }}">{{ product.vendor|default:"" }}</a>
      {% else %}{{ product.vendor|default:"" }}{% endif %}
    </div>
  </div>
  {% endif %}
  {% if product.source_price %}
  <div class="form-group">
    <label class="col-sm-2 control-label">來源價格</label>
    <div class="col-sm-10 form-control-static">{{ product.source_currency|default:"" }} {{ product.source_price|default:"" }}</div>
  </div>
  {% endif %}
  <div class="form-group">
    <label class="col-sm-2 control-label">條碼</label>
    <div class="col-sm-10 form-control-static">{{ product.jan|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">發售日</label>
    <div class="col-sm-10 form-control-static">{{ product.release_date|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">尺寸</label>
    <div class="col-sm-10 form-control-static">{{ product.size|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">重量</label>
    <div class="col-sm-10 form-control-static">{{ product.weight|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">拍賣場分類</label>
    <div class="col-sm-10 form-control-static">
      {% if product.yahoo_no %}<div><span class="label label-primary">Yahoo</span> [{{ product.yahoo_no.no }}] {{ product.yahoo_no.title }}</div>{% endif %}
      {% if product.ruten_no %}<div><span class="label label-primary">露天</span>: [{{ product.ruten_no.no }}] {{ product.ruten_no.title }}</div>{% endif %}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">關鍵字</label>
    <div class="col-sm-10 form-control-static">{{ product.keywords|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">簡介</label>
    <div class="col-sm-10 form-control-static">{{ product.summary|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">價格</label>
    <div class="col-sm-10 form-control-static">{{ product.price|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">數量</label>
    <div class="col-sm-10 form-control-static">{{ product.amount|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">顏色</label>
    <div class="col-sm-10 form-control-static">{{ product.color|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">產品說明</label>
    <div class="col-sm-10 form-control-static">{{ product.details|default:"" }}</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">物品新舊</label>
    <div class="col-sm-10 form-control-static">{{ product.usage_status|default:"" }}</div>
  </div>
</div>