{% load field_order %}
<form id="products_form" role="form" action="" method='get'>{% csrf_token %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 30px">
          <input type="checkbox" id="select_all"/>
        </th>
        {% orderheader manufacturer %}<th><a href="?{{ url }}">廠牌 {{ icon }}</a></th>{% endorderheader %}
        {% orderheader model_id %}<th><a href="?{{ url }}">型號 {{ icon }}</a></th>{% endorderheader %}
        {% orderheader release_date %}<th><a href="?{{ url }}">發售日 {{ icon }}</a></th>{% endorderheader %}
        {% orderheader price %}<th><a href="?{{ url }}">價格 {{ icon }}</a></th>{% endorderheader %}
        {% orderheader created_at %}<th><a href="?{{ url }}">上傳時間 {{ icon }}</a></th>{% endorderheader %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for p in products %}
        <tr>
          <td><input type="checkbox" id="p_{{ p.id }}" name="p" value="{{ p.id }}" /></td>
          <td><label for="p_{{ p.id }}">{{ p.manufacturer }}</label></td>
          <td>{{ p.model_id|default:"" }}</td>
          <td>{{ p.release_date|default:"" }}</td>
          <td>{{ p.price|default:"" }}</td>
          <td>{{ p.created_at|default:"" }}</td>
          <td><a href="{% url 'product' p.id %}">詳細</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<script type="text/javascript">
$(function() {
  function cleanTextSelection() {
    if (window.getSelection) {
      if (window.getSelection().empty) {  // Chrome
        window.getSelection().empty();
      } else if (window.getSelection().removeAllRanges) {  // Firefox
        window.getSelection().removeAllRanges();
      }
    } else if (document.selection) {  // IE?
      document.selection.empty();
    }
  }
  
  $("[data-url]", ".products_fn").bind("click", function() {
    var $f = $("#products_form");
    var $self = $(this);
    var confirm_msg = $self.attr("data-confirm");
    if($("[name=p]:checked", $f).length == 0) {
      alert("您沒有選擇任何產品");
      return;
    }
    if(confirm_msg && !confirm(confirm_msg))
      return;
    
    var action = $self.attr("data-url");
    var method = $self.attr("data-method");
    
    $f.attr("action", action);
    if(method && method != 'GET') {
      $f.attr("method", "post")
      $("<input type=\"hidden\" name=\"__method__\" />")
        .val(method)
        .appendTo($f);
    };
    $f.submit();
  });
  
  var $record_rows = $("form#products_form tbody tr");
  $record_rows.bind("click", function(e) {
    if(e.shiftKey) {
      var p1 = $record_rows.filter("._active").index();
      var p2 = $(this).index();
      
      $selected = $record_rows.slice(Math.min(p1, p2), Math.max(p1, p2) + 1);
      $selected.addClass("warning");
      $("input[type=checkbox]", $selected).prop('checked', true);
      cleanTextSelection();

      $record_rows.removeClass("_active");
      $(this).addClass("_active");
    }
    else if(e.altKey) {
      $record_rows.removeClass("_active");
      $(this).addClass("warning _active");
      $("input[type=checkbox]", $(this)).prop('checked', true);
    }
    else {
      $record_rows.removeClass("warning _active");
      $(this).addClass("warning _active");
    }
    
  });
  
  $("form#products_form #select_all").bind("change", function() {
    $("form#products_form tbody input[type=checkbox]").prop("checked", this.checked).trigger("change");
  });
});
</script>