{% extends 'foundation.html' %}
{% block title %}產品: {{ p.manufacturer }} {{ p.model_id }} {% endblock title %}
{% block main %}
<style>
.image-cell {
  width: 170px;
  height: 190px;
  display: inline-block;
}

.image-cell input {
  float: left;
}
.image-cell label {
  padding-left: 3px;
  font-size: small;
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-cell.image-add-cell.checked label{
  background-color: #aaaaff;
}

.image-cell.image-remove-cell.checked label{
  background-color: #ff9999;
}

.image-cell.image-remove-cell img {
  max-height: 160px;
}
</style>
<h3>產品: {{ p.manufacturer }} {{ p.model_id }}</h3>
<hr />
<form action="" method="post" role="form" enctype="multipart/form-data" role="form">{% csrf_token %}
  <div style="float: right;">
    <a href="{% url 'product' p.id %}">上一頁</a>
    <button class="btn btn-primary">更新</button>
  </div>
  <div class="container">
    <h4>現有圖片</h4>
    <div class="container">
      {% for image in p.productimage_set.all %}
      <div class="image-cell image-remove-cell">
        <a href="{% url 'product_image' image.id %}" target="_blank"><img src="{% url 'product_image' image.id %}" class="img-responsive img-thumbnail" /></a>
        <div>
          <input type="checkbox" id="current_img_{{ forloop.counter }}" name="delete" value="{{ image.id }}" />
          <label for="current_img_{{ forloop.counter }}" alt="{{ image.title }}">刪除</label>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr />
  <div class="container">
    <h4>新增圖片</h4>
    <div class="container">
      <div><a href="https://www.google.com.tw/search?safe=off&&hl=ja_JP&tbm=isch&q={{ p.manufacturer }}%20{{ p.model_id }}" target="_blank">Google Search</a></div>
      <label>手動上傳圖片</label>
      <input type="file" name="files" multiple="" accept="image/*" >
      <hr />
      {% for image in gis %}
      <div class="image-cell image-add-cell">
        <a href="{{ image.url }}" target="_blank"><img src="{{ image.thumb_url }}" class="img-responsive img-thumbnail" /></a>
        <div>
          <input type="checkbox" id="images_{{ forloop.counter }}" name="images" value="{{ image.url }}" />
          <label for="images_{{ forloop.counter }}" alt="{{ image.title }}">{{ image.title }}</label>
        </div>
      </div>
      {% endfor %}
      <hr />
      <div class"row">
        <div class="text-right">
          <button class="btn btn-primary">更新</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
$(function() {
  $(".image-cell input[type=checkbox]").bind("change", function() {
    var $target = $(this).closest(".image-cell");
    if(this.checked) {
      $target.addClass("checked")
    } else {
      $target.removeClass("checked")
    }
  });
});
</script>
{% endblock %}