{% extends 'foundation.html' %}
{% load bootstrap3 %}
{% block title %}產品: {{ p.title }} {% endblock title %}
{% block main %}
<style type="text/css">
div.keywords {
  margin-top: 2px;
}

label.keyword {
  padding: 2px 8px;
  margin-left: 4px;
  border-radius: 4px;
}

label.keyword:hover {
  background-color: #ddd;
}

</style>
<h3>產品: {{ p.title }}</h3>
<hr />
<div class="container">
  <h4>拍賣資料</h4>
  <form method="post" role="form">{% csrf_token %}
    <div class="container">
      {{ form|bootstrap_form:"default" }}
    </div>
    <div class="text-right">
      <input type="submit" name="login" class="btn btn-primary" value="更新"></input>
    </div>
  </form>    
</div>

<script type="tmpl/jquery" id="keywords-tmpl">
  <div class="row keywords">
    <div class="col-sm-11">
      {% templatetag openvariable %}each(i, kw) keywords}}
        <label class="keyword">${ kw }</label>
      {% templatetag openvariable %}/each}}
    </div>
    <div class="col-sm-1 text-right">
      <a href="{% url 'auction_keyword_groups' %}">管理</a>
    </div>
  </div>
</script>
<script type="text/javascript">
$(function() {
  var kw_ds = {{ kw|safe }};
  var keywords = kw_ds.keywords;
  var keyword_sets = kw_ds.keyword_sets;
  
  var $group = $("input[name=group]");
  var $input = $("[name=keywords]");
  var $keywords = undefined;
  
  $input.attr("autocomplete", "off");
  
  $group.bind("change", function() {
    if($keywords) $keywords.remove();
    
    var gn = this.value;
    
    var kw = [];
    for(var i in keywords) {
      if(keywords[i][0] == gn) kw.push(keywords[i][1]);
    }
    
    $keywords = $("#keywords-tmpl").tmpl({keywords: kw});
    $keywords.insertAfter($input);
    $("label", $keywords).bind("click", function() {
      $input.val($input.val() + ' ' + $(this).text());
    });
    
    // ==================
    var kw_sets = [];
    for(var i in keyword_sets) {
      if(keyword_sets[i][0] == gn) kw_sets.push(keyword_sets[i][1]);
    }
    
    $input.autocomplete({
      source: kw_sets
    });
  }).trigger("change");
});
</script>
{% endblock %}
