{% if input %}
<div class="input-group">
  {{ input }}
  <div class="input-group-btn">
{% endif %}
<button type="button" class="btn btn-default {% if small %}btn-sm{% endif %} dropdown-toggle" data-toggle="dropdown" tabindex="-1">
  <span style="color:white">.</span><span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
  {% for g in keyword_groups %}
    <li><a href="javascript:void(0)" data-role="kw-selector-{{ identify }}">{{ g }}</a></li>
  {% endfor %}
</ul>
{% if input %}
  </div>
</div>
{% endif %}
<script type="text/javascript">
$(function() {
  $input = $("{{ input_selector }}");
  $group = $("input[name=g]");
  $("a[data-role=kw-selector-{{ identify }}]").bind("click", function() {
    $input.val(this.innerText);
    $input.trigger("change");
  });
});
</script>