{% load keywords %}
{% load_keyword_groups %}
<form role="form" class="form-inline" method="post" action="{% url 'auction_keyword_groups' %}" id="keyword-add">{% csrf_token %}
  <div class="form-group">
    <label class="sr-only" for="k">品項</label>
    <div class="input-group">
      <input type="text" name="g" class="form-control input-sm" placeholder="群組" value="{{ group }}" />
      <div class="input-group-btn">
        {% keyword_group_dropdown_selector "form#keyword-add input[name=g]" %}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="k">關鍵字</label>
    <input type="text" name="k" class="form-control input-sm" placeholder="新增關鍵字" />
  </div>
  <button class="btn btn-success btn-sm" type="submit">新增</button>
</form>
