{% load keywords %}
{% load_keyword_groups %}
<form id="create_keyword_form" role="form" class="form-inline" method="post" action="" id="keyword-add">{% csrf_token %}
  <div class="form-group">
    <label class="sr-only" for="k">廠牌</label>
    <input type="text" name="m" class="form-control input-sm" placeholder="廠牌" />
  </div>
  <div class="form-group">
    <label class="sr-only" for="k">關鍵字</label>
    <input type="text" name="k" class="form-control input-sm" placeholder="關鍵字" />
  </div>
  <button class="btn btn-success btn-sm" type="submit">新增</button>
</form>
<script>
$(function() {
  $("form#create_keyword_form").bind("submit", function() {
    if(!$("input[name=g]", $(this)).val().trim()) {
      alert("請輸入品項");
      return false;
    } else if(!$("input[name=k]", $(this)).val().trim()) {
      alert("請輸入關鍵字");
      return false;
    }
  });
});
</script>
