{% extends 'foundation.html' %}
{% block title %}{{ cls.brand }} 類別代號管理{% endblock title %}
{% block main %}
<h3>{{ cls.brand }} 類別代號管理</h3>
<hr />
<div class="container">
  <div class="row text-right">
    <a href="{% url 'create_auction_type' type %}" class="btn btn-success">新增</a>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr><th>品項</th><th>
        <div class="col-xs-3 col-sm-3">代碼</div>
        <div class="col-xs-6 col-sm-6">廠牌</div>
      </th></tr>
    </thead>
    <tbody>
      {% for catalog, items in grouped_items.items %}
        <tr id="catalog-{{ catalog.id }}">
          <td>{{ catalog.name}}</td>
          <td>
            {% for item in items %}
            <div>
              <div class="col-xs-3 col-sm-3"><span class="badge">{{ item.no }}</span></div>
              <div class="col-xs-6 col-sm-6">{{ item.manufacturer }}</div>
              <div class="col-xs-3 col-sm-3 text-right">
                <span class="btn-group">
                  <a href="{% url 'edit_auction_type' type item.id %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a> |
                  <a href="javascript:delete_record({{ item.id }})">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </span>
              </div>
            </div>
          {% endfor %}
          </td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
<form action="{% url 'delete_auction_type' type %}" method="POST" style="display: none" id="delete_form">
  {% csrf_token %}
  <input name="id" />
</form>
<script type="text/javascript">
function delete_record(id) {
  if(confirm("您確定要刪除此筆記錄?")) {
    $form = $("#delete_form");
    $("[name=id]", $form).val(id);
    $form.submit();
  }
}
</script>
{% endblock %}