{% extends 'foundation.html' %}
{% block title %}賣場關鍵字管理{% endblock title %}
{% block main %}
<div style="float: right"><a href="{% url 'auction_keyword_groups' %}">上一頁</a></div>
<h3>賣場關鍵字管理</h3>
<hr />
<div class="container">
  {% include 'auction/_keyword_add.html' %}
</div>
<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr><th>關鍵字</th><th style="width: 150px"></th></tr>
    </thead>
    <tbody>
      {% for k in keywords %}
        <tr>
          <td>{{ k.keyword }}</td><td><a href="javascript:void(0)" data-pk="{{ k.pk}}" data-type="kw">刪除</a></td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr><th>品項關鍵字</th><th style="width: 150px"></th></tr>
    </thead>
    <tbody>
      {% for k in keyword_sets %}
        <tr>
          <td>{{ k.set }}</td><td><a href="javascript:void(0)" data-pk="{{ k.pk}}" data-type="kw_set">刪除</a></td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
<form method="post" style="display: none" id="delete_form" action="{% url 'auction_keyword_groups' %}">{% csrf_token %}
  <input type="hidden" name="pk" value="" />
  <input type="hidden" name="type" value="" />
  <input type="hidden" name="group" value="{{ group }}" />
  <input type="hidden" name="__method__" value="delete" />
</form>
<script type="text/javascript">
$(function() {
  $("a[data-pk][data-type]").bind("click", function() {
    var $this = $(this);
    var pk = $this.attr("data-pk");
    var type = $this.attr("data-type");
    
    if(confirm("確定要刪除?")) {
      var $f = $("#delete_form");
      $("[name=pk]", $f).val(pk);
      $("[name=type]", $f).val(type);
      $f.submit();
    }
  });
});
</script>
{% endblock %}