{% extends 'foundation.html' %}
{% block title %}賣場關鍵字管理{% endblock title %}
{% block main %}
<h3>賣場關鍵字管理</h3>
<hr />
<div class="container">
  {% include 'auction/_keyword_add.html' with default_group=group %}
</div>
<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr><th>群組</th></tr>
    </thead>
    <tbody>
      {% for g in groups %}
        <tr>
          <td><a href="{% url 'auction_keywords' g %}">{{ g }}</a></td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
<form method="post" style="display: none" id="delete_form">{% csrf_token %}
  <input type="hidden" name="pk" value="" />
  <input type="hidden" name="__method__" value="delete" />
</form>
<script type="text/javascript">
$.delete_keyword = function(pk) {
  if(confirm("確定要刪除此關鍵字?")) {
    var $f = $("#delete_form");
    $("[name=pk]", $f).val(pk);
    $f.submit();
  }
}
</script>
{% endblock %}