{% extends 'foundation.html' %}
{% block title %}賣場關鍵字管理{% endblock title %}
{% block main %}
<style>
.keyword {
  padding: 8px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.keyword .del-btn {
  float: right;
  display: none;
}
.keyword:hover {
  background-color: #eee;
}
.keyword:hover .del-btn {
  display: block;
}
</style>
<h3>品項關鍵字管理 - {{ catalog.name }}</h3>
<hr />
<div class="container">
  {% include 'auction/_keyword_add.html' %}
</div>
<div class="container">
  {% for manufacturer, keywords in grouped_keywords.items %}
  <h5>廠牌: {{ manufacturer }}</h5>
  <div class="container">
    {% for k in keywords %}
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="keyword">
          <a class="del-btn btn btn-xs btn-danger" data-delete-pk="{{ k.id }}">刪除</a>
          {{ k.keyword }}
        </div>
      </div>
    {% endfor %}
  </div>
  <hr />
  {% endfor %}
</div>
<div class="container">
  <h3>關鍵字群組</h3>
  <table class="table table-condensed">
    <thead>
      <tr><th>廠牌</th><th>關鍵字群組</th></tr>
    </thead>
    <tbody>
      {% for s in sets %}
        <tr>
          <td>{{ s.manufacturer }}</td><td>{{ s.set }}</td>
        </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
<form method="post" style="display: none" id="delete_form" action="">{% csrf_token %}
  <input type="hidden" name="id" value="" />
  <input type="hidden" name="__method__" value="delete" />
</form>
<script type="text/javascript">
$(function() {
  $("a[data-delete-pk]").bind("click", function() {
    var $this = $(this);
    var pk = $(this).attr("data-delete-pk");
    
    var $f = $("#delete_form");
    $("[name=id]", $f).val(pk);
    $f.submit();
  });
});
</script>
{% endblock %}